extends ./layout.jade
block contenido
    form(action="/users", method="POST")
        div(class="container text-center bg-dark text-info col-sm-5 pt-3 form-group")
            img(src="https://iconarchive.com/download/i84553/custom-icon-design/flatastic-4/Male-user-add.ico")
            br
            h2 Dar de alta a los usuarios
            br
            p Complete los siguientes espacios para dar de alta a un usuario en el sistema: 
            br
            label(for="nombre") Nombre:
            br
            input(type="text" placeholder="Ingrese el nombre" name="nombre" id="nombre" class="form-control" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required)
            br
            label(for="email") Email:
            br
            input(type="email" placeholder="Ingrese el correo" name="email" id="email" class="form-control" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required)
            br
            br
            label(for="telefono") Numero de telefono:
            br
            input(type="tel" placeholder="Ingrese su numero telefonico" name="telefono" id="telefono" class="form-control" pattern="^[0-9]+$" required)
            br
            label(for="password") Contraseña:
            br
            input(type="password" placeholder="Ingrese la contraseña" name="password" id="password" class="form-control" min=4 max=15 required)
            br
            label(for="password_confirmation") Confirmar Contraseña:
            br
            input(type="password" placeholder="Ingrese nuevamente la contraseña" name="password_confirmation" id="password_confirmation" class="form-control" min=4 max=15 required)
            br
            br
            input(type="submit" value="Enviar Datos" class="form-control btn btn-primary text-white")
            br
            br
            a.btn(class="btn btn-danger form-control" href="/login") Volver a la pagina de Login
            br
            br

        