html 
  head
    // Declaracion de una variable en un jade y asignacion de valores mediante el uso de otra clase
    title!= titulo
  body
     h1!=nombre
     form(action="/", method="POST")
        input(type="submit" value="Enviar")
     


            