extends ./layout3
block contenido3
    div(class="text-left bg-secondary")
        a.h6(class="text-light" href="/login" class="right-space") Iniciar Sesion o Registrarse
        div(class="row bg-info col-sm-6 text-left")
            img(src="https://www.intralinks.com/sites/default/files/styles/resource_sidebar_image/public/sb_img/grisoft.png?itok=ye3HJ8F4")
            div(class="col-sm-6 text-success")
                br
                br
                br
                br
                br
                h1 Desarrollo de Software
                div(class="text-center bg-primary text-white")
                    br
                    br
                    h1 Un Poco de Historia......
                    br
                    br
                    div(class="row col-sm-4")
                        img(src="https://www.siliconvalley.com/wp-content/uploads/2017/09/20150706__0707amd21.jpg?w=527")
                        div(class="p-3 text-center col-sm-4")
                            h5 Grisoft se dedica al desarrollo de software para cualquier empresa o usuario en el mundo. Haganos saber su problematica nuestros expertos, le brindaran una solucion.
                            br
                            h5 Nos encontramos localizados en la provincia de Cordoba, desde el año 2020. Nuestra mision alcanzar todo el territorio argentino
                            div(class="col-sm-4")
                                img(src="https://images.squarespace-cdn.com/content/v1/54c17ee8e4b0fe251ef64eba/1422353961875-T9KO40QX21XVK7B6KN54/ke17ZwdGBToddI8pDm48kBK-M6RnzPoN2-rY4nOIzqhZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVEfeAI9BBoU-hjVPFE43NTst-XXHhqCb5c-4NP1a4781S66LGA01NQCxovy_iUZwLM/Intel+headquarters" style="width: 500px; height: 350px;")
                                    div(class="text-center bg-dark text-white")
                                         h1 Nuestros Productos


 