doctype html
html(lang="es")
    head
        title FotoFacilito
        meta(charset="utf-8")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    body
        <div class="container content">
        <div class="row col-sm-4">
        a(href="https://accounts.google.com/ServiceLogin/signinchooser?hl=es-419&passive=true&continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3Dgoogle%2Binicisio%2Bde%2Bsesion%26rlz%3D1C1CHBF_esAR921AR921%26oq%3Dgoogle%2Binicisio%2Bde%2Bsesion%26aqs%3Dchrome..69i57j0i13l3j0i13i30j0i22i30l3.4160j0j7%26sourceid%3Dchrome%26ie%3DUTF-8&ec=GAZAAQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin") Iniciar Sesion con Google
        a(href="https://login.yahoo.com/?.src=ygrp&.intl=es&.lang=es-ES&.done=%doneUrl%") Iniciar Sesion con Yahoo!
        </div>
        block contenido