extends ./layout2
block contenido2
    <div class="row" style="text-align: center;">
    form(action='/sessions', method='POST')
        div(class="form-group")
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png">
        br
        h2 Panel de Login de Usuarios!
        br
        label(for="email") Email:
        br
        input(type="email" id="email" name="email" placeholder="Ingrese su correo electronico" class="form-control" required)
        br
        label(for="password") Contraseña:
        br
        input(type="password" id="password" name="password" placeholder="Ingrese su contraseña" required class="form-control")
        br
        br
        input(type="submit" value="Iniciar Sesion" class="form-control" style="background-color: black; color: white;")
        br
        a(href="./alta" style="background-color: black; color: white;") Registrarse
        br
        a(href="/") Volver a la pagina principal
        br
        h6 (C) 2021 SiG Sofware. Todos los derechos reservados. www.sigsoftware.es
