.right-space{
    margin-right: 1em;
}

.remove-float{
    float: none;
}

.big-top-space{
    margin-top: 300px;
}

.fondo{
    background-image: url(https://static.wikia.nocookie.net/finalfantasy/images/e/e4/7th_Heaven_exterior_in_FFVII_Remake.jpg/revision/latest?cb=20190924165828);
}