doctype html
html(lang="es")
    head
        title Insertar Imagen
        meta(charset="utf-8")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
        link(href="/stylesheets/app.css" rel="stylesheet" type="text/css")
    body
        nav(class="large-padding black white-text")
            ul
            li
                a(href="/app" class="btn btn-primary") Inicio
            li 
                a(href="/app/imagenes" class="btn btn-success") Imagenes
            li
                a(href="/login" class="btn btn-danger") Cerrar Sesion 

        div(class="fondo pt-3")
                        block contenido       
                