extends ./layout

block contenido
    div(class="bg-white col-sm-5 text-center container pt-3")
        br
        br
        h3 Previsualizacion de la imagen seleccionada
        br
        br
        h4 Titulo de la Imagen:
        h5= imagen.title
        br
        br
        h4 Descripcion de la Imagen:
        h5= imagen.descripcion
        br
        br
        a.btn(class="btn btn-success" href="/login") Aceptar y cerrar sesion
        br
    div
        



