extends ./layout

block contenido
    form(action="/sessions" method="POST")
        div(class="form-group")
            h2 Sesion Iniciada Correctamente. Bienvenido haga click en cualquiera de las opciones para realizar una operacion
            br
            br
            br
            br
            br
            H5 (C) 2021 SiG Software. Todos los derechos reservados. wwww.sigsoftware.com
